.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-container {
  margin-left: 25px;
  display:flex;  
  width: 50%;
  flex-direction: horizontal;
  justify-content: space-between; 
}
.App-item {
  margin: 15px;
  outline: solid 3px black;
  border-radius: 10px;
  padding: 5px;
}
.Price-item {
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.Product-name-container {
  display:flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

.App-button {
  margin: 10px;
  background-color: white;
  outline: solid 2px black;
  border-radius: 5px;
  width: 50px;
  padding: 3px;
}

.Small-shop {
  display:flex;
  justify-content: center;
  color: blue;
}

.Purchase-display-line {
  display:flex;
  justify-content: center;
}

.Create-product {
  color: white;
  background-color: #525050;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin: 50px;
}